    <div class = "front flex-row ">

      <%= render './layouts/left' %>
    
      <section class = "middle-col flex-column">
      <div class="front-menu flex-row ">
      <a href="<%= root_path %>">  
          <span id="view-opinions" class="menu-title font-fam flex-row flex">OPINIONS</span>
      </a>      
      </div>

        <%= render './layouts/opinion' %>
        
        <section class="opinions-section flex-column flex sticky-top">
           <span class="opinions-title font-fam">4 NEW OPINION</span>
           <% @opinions.each do |opinion| %>
            <article class="opinion-story flex-row">
            <div class="opinion-profile img-div">
            <% if opinion.author.photo %>
            <%= image_tag(opinion.author.photo_url.to_s) %> 
            <% end %>
           </div>
             <div class = "opinion-body font-fam w-100">
                <div class="flex-row space-between w-100">
                  <h1> <%= link_to opinion.author.fullname, user_path(opinion.author) %> </h1>
                  <p class='opinion-date'> <%= opinion.created_at.strftime("%H") %> h </p>
                 </div>
                 <p> <%= opinion.text %> </p>
             </div>
            </article>
           <% end %>
        </section>

      </section>
      
      <section class = "right-col flex-column">
        <div class = "title flex font-1">
          <span>WHO TO FOLLOW</span>          
        </div>
        <div  class="who-to-section flex-column flex">
        <% @users.each do |user| %>
          <% unless user == current_user || current_user.follow?(user) %>
          <article class="who-to-story flex-row">
           <div class="who-to-profile img-div">
            <% if user.photo %>
            <%= image_tag(user.photo_url.to_s) %> 
            <% end %>
           </div>
           <div class = "who-to-body">
              <div class="name-follow-wrapper flex-column">
               <h1> <%= link_to user.fullname, user_path(user) %> </h1>
               
              </div>
                        
              </div>
          </article>
          <% end %>
        <% end %>
        <div>
      </section>
    </div>