<section class = "right-col flex-column">
  <div class="show-profile" >
        <div class="show-article flex flex-column">
            <div class="photo-wrapper flex-row flex">
              <% if @current_user_followings.include?(@user) %>
                <a href="<%= unfollow_user_path(@user) %>">        
                  <span class="iconify font-1p5" data-icon="grommet-icons:subtract-circle" data-inline="false"></span>        
                </a>
              <% else %>
                <a href="<%= follow_user_path(@user) %>">
                    <span class="iconify" data-icon="carbon:add-alt" data-inline="false"></span>
                </a>
              <% end %>             
              <div class="user-img"> 
                <% if @user.photo %>
                  <%= image_tag(@user.photo_url.to_s, width: "100%", height: "100%") %> 
                <% end %>
              </div>
              <span class="iconify" data-icon="ion:list-circle-outline" data-inline="false"></span>
            </div>

            <div class="user-name flex-column">
                <h1> <%= @user.fullname %> </h1>
                <p>@ <%= @user.username %> </p>
            </div>        
        </div>

        <div class="show-following flex-row">
            <div class="follow-nums flex-column flex">
                <span> <%= @user_opinions.count if @user_opinions%> </span>
                <p>Opinions</p>
            </div>
            <div class="follow-nums flex-column flex middle">
                <span> <%= @followings.count if @followings %> </span>
                <p>Followings</p>
            </div>
            <div class="follow-nums flex-column flex">
                <span> <%= @followers.count if @followers %></span>
                <p>Followers</p>
            </div>
        </div>
  </div>
  <div class = "title flex font-1">
    <span>FOLLOWED BY</span>          
  </div>
  <div  class="who-to-section flex-column flex">
  <% if @followers %>
  <% @followers.each do |user| %>
    <% unless user == @user %> 
    <article class="who-to-story flex-row">
     <div class="who-to-profile img-div">
      <% if user.photo %>
      <%= image_tag(user.photo_url.to_s, width: 60, height: 60) %> 
      <% end %>
     </div>
     <div class = "who-to-body">
        <div class="name-follow-wrapper flex-coumn">
         <h1> <%= link_to user.fullname, user_path(user) %> </h1>
         <p> @ <%= user.username %> </p>         
        </div>
                      
      </div>
      <% if @current_user_followings.include?(user) %>
        <a href="<%= unfollow_user_path(user) %>">        
          <span class="iconify font-1p5" data-icon="grommet-icons:subtract-circle" data-inline="false"></span>        
        </a>
      <% else %>
        <a href="<%= follow_user_path(user) %>">
          <span class="iconify font-1p5" data-icon="carbon:add-alt" data-inline="false"></span>
        </a>
      <% end %>
      
    </article>
    <% end %>
  <% end %>
  <% end %>
  <div>
</section>