<div class = "front flex-row">

<%= render './layouts/left' %>

<section class = "middle-col flex-column">
  
  <picture class = "back-img">
    <% if @user.coverimage %>
      <%= image_tag(@user.coverimage_url.to_s, width: "100%", height: "100%") %>       
    <% end %>
    <%= link_to 'Edit' %>
  </picture>  

  <%= render './layouts/frontmenu'%>
  <%= render './layouts/followings'%>
  
  
</section>

<%= render 'usershowright' %>