<section class = "left-col">
    <div class = "following flex-row">
      <div class="follow-part  flex-column flex">        
        <p class="color-2 font-fam"> <%= current_user.followeds.count %> </p>        
        <p class="color-1 font-fam">Following</p>
      </div>
      <div class="follow-part flex flex-column">        
        <p class="color-2 font-fam"> <%= current_user.followers.count %> </p>        
        <p class="color-1 font-fam">Followers</p>
      </div>          
    </div>
    <ul class = "main-links color-1">
      <a href="<%= root_path %>" >
        <li class="main-link-lists font-fam">     
          <span class="iconify link-iconify" data-icon="clarity:home-solid" data-inline="false"></span>
          <span> HOME </span>
        </li>
      </a>
      <a href="<%= users_path %>" >
        <li class="main-link-lists font-fam"> 
          <span class="iconify link-iconify" data-icon="feather:at-sign" data-inline="false"></span>
          <span> CONNECT </span> 
        </li>
      </a>
      
      <a href="<%= user_path(current_user) %>" >
        <li class="main-link-lists font-fam"> 
          <span class="iconify link-iconify" data-icon="vs:profile" data-inline="false"></span>
          <span> PROFILE </span>
        </li>
      </a>      
    </ul>
  </section>