<!DOCTYPE html>
<html>
  <head>
    <title>TweeterRedesign</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </head>

  <body>
  
    <header>
      <nav class= "main-nav">       
        <div class="nav-left">
        <% if current_user %>
          <span class="profile-img"> <%= link_to current_user.photo, users_path %> </span>
          <span class="username color-1 font-fam"> <%= link_to current_user.fullname, root_path %> </span>
        <% else %>
          <span class="logo-text font-fam color-2 font-1p5">OPINION</span>
        <% end %>
        </div>
        <div class="nav-middle">
          <span class="logo"> </span>
          <% if current_user %>
          <span class="logout"> <%= link_to 'Log Out', session_path(session), method: :delete %> </span>
          <% end %>       
        </div>
        
        <div class="nav-right">
        <% if current_user %>
          <span class="iconify" data-icon="fluent:edit-16-filled" data-inline="false"></span>
          <span class="iconify" data-icon="fluent:mail-24-filled" data-inline="false"></span>
          <span class="iconify" data-icon="fa-solid:search" data-inline="false"></span>
          <span class="iconify" data-icon="clarity:settings-solid" data-inline="false"></span>
        <% else %>
          <span class = "font-fam"> <%= link_to 'Sign In', new_session_path %> </span>
          <span class = "font-fam"> <%= link_to 'Sign Up', new_user_path %> </span>
        <% end %>
        </div>
        
      </nav>
    </header>
    

    <% if flash[:notice] %>
      <div class = "notification is-primary global-notification"> 
        <p class="alert"> <%= alert %> </p>
      </div> 
    <% end %> 

    <% if flash[:alert] %>
      <div class = "notification is-danger global-notification"> 
      </div> 
    <% end %>
    
    <%= yield %>
  
  </body>
</html>
